.feed {
    background-color: rgb(231, 231, 231);
    height: 100%;
}
.makeStyles-root-63 {
    background-color:transparent!important;
}
.makeStyles-root-172 {
    background-color:transparent!important;

}