.container{
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.img{
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.Secret{
    background-image: url("./Image/PantherStadium.jpg"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    background-position: center; /* Center the image */
    background-attachment: fixed;
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    height: 100vh;
}

.pause {
    width: 100px;
    height: 50px;
    background-color: red;
    color: white;
    font-size: 20px;
    margin: 20px;
}
.resume {
    width: 100px;
    height: 50px;
    background-color: blue;
    color: white;
    font-size: 20px;
    margin: 20px;
}

.content {
    padding-top: 3%;
}
.contentBox{
    background-color: white;
    width: 95%;
    min-height: 30vh;
    padding: 16px;
}
.trouble {
    font-size: 4px;
}
