/* .container{
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.img{
    width: 100%;
    margin: 0px;
    padding: 0px;
} */
.Login{
    background-image: url("./Images/baseballdive4.jpg"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    height: 100%;
    color: white;
}

.LoginForm {

    padding: 0px;
    margin: 0px;
    width: 100%;
}

.nav-link {
    font-size: 25px;
    font-weight: 800;
}